.light {
  --primary-color: #cdcce9;
  --secondary-color: #67718b;
  --font-color: #ddedfa;
  --bg-color: #fff;
  --heading-color: #52524b;
}

.dark {
  --primary-color: #171557;
  --secondary-color: #1b1f29;
  --font-color: #e1e1ff;
  --bg-color: #161625;
  --heading-color: #818cab;
}
